.ActionBar {
  white-space: nowrap;
}

.ActionBar-title {
  font-weight: 200;
  font-size: 2.4em;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ActionBar-label-text {
  margin-left: 15px;
  font-style: italic;
}

.ActionBar-search-bar {
  margin-left: 5px;
  margin-top: 0px;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(225, 0, 80);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
