.Homepage {
  text-align: center;
}

.App-title {
  margin-top: 175px;
  font-size: 4.5em;
  font-weight: 200;
}

.Label-text {
  margin-left: 50px;
  font-style: italic;
}

.Paper-object {
  color: "red";
}
.News-Link {
  font-size: 0.5em;
}
.Instruct-text {
  margin-left: 20px;
  font-weight: 400;
}
.Instruct-text1 {
  margin-right: 0px;
  font-weight: 400;
}
